/* header */

.header {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header__menu {
    padding: 44px 32px 40px 26px; /*44px 36px 39px 26.52px*/
}

.header__links-list {
    display: flex;
    gap: 29.5px;
    justify-content: space-around;
}

.header__links-list-items{
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: circle;
}

.header__links-list-items_no-bulletp {
    list-style: none;
}

.link__active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.link__innactive {
    text-decoration: none;
}

.header__logo-link {
    display: block;
    width: 145px;
    height: 105px;
    padding-left: 8px;
}


.header__logo-image {
    width: 100%;
    /*height: 105px;*/
}

.address {
    display: flex;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    flex-direction: column;
    align-items: flex-start;
    text-underline-offset: 4px;
}

.header__address {
    justify-self: right;
    padding-right: 63px;
    padding-top: 2px;
}

/* Cover */

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1100px;
    width: 100%;
    padding: 165px 50px 50px;
}
  
.overlay {
    position: absolute;
    inset: 0px 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

/* Text aligning */

.aligned-text {
    z-index: 1;
    line-height: 115%;
    word-spacing: 6px;
}
  
.aligned-text_center {
    max-width: 1280px;
    line-height: 1;
    text-align: center;
    word-spacing: 6px;
}
  
.aligned-text_right {
    display: flex;
    justify-content: flex-end;
    line-height: 1;
    text-align: right;
}

.aligned-text__spacing_none {
    letter-spacing: 30px;
}

.aligned-text__spacing_extended {
    letter-spacing: 60px;
}

.aligned-text__spacing_last-letter {
    letter-spacing: 0;
}

/* Cover text */

.cover__desc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 79px;
    padding-top: 135px;
}

.cover__desc-text {
    z-index: 2;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
}

/* Cover button */

.cover__button {
    z-index: 2;
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

/* Lots */
.lots {
    width: 1052px;
    margin: 179px 24px 146px;
    background-color: #fff;
}

.lots__header {
    margin: 0px 173px 27px 40px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}

/* Lots card */

.lots__card-list {
    display: flex;
    align-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-items {
    width: 334px;
    list-style: none;
}

.card {
    max-width: 334px;
    width: 100%;
    height: 100%; /* ^ 🐑 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 39px 50px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-link {
    position: relative;
    display: block;
    height: 100%;
}

.card__bg_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card__bg_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card__bg_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    z-index: 2;
    font-weight: 700px;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    font-family: Raleway, sans-serif;
}

.card__text {
    z-index: 2;
    font-weight: 400px;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-style: normal;
}

.lots__learn-more {
    display: block;
    max-width: 192px;
    width: 100%;
    margin: 28px 0 2px 40px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    font-family: Raleway, sans-serif;
    font-style: normal;
    text-decoration: underline;
    text-underline-offset: 4px; /* !!! */
}

/* About */
.about { 
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 1fr min-content;
    gap: 10px 20px;
    background-color: #fff;
    width: 100%;
    padding: 35px 24px;
}

.about__logo_position {
    padding: 0px 0px 0px 47px;
}
  
.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}
  
.about__logo-image {
    max-width: 148px;
    width: 100%;
    min-height: 114px;
    height: 100%;
}
  
.about__title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 100px 0px 100px 5px;
}
  
.about__text {
    max-width: 690px;
    width: 100%;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    margin: 0px 0px 25px 5px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 110px 50px 90px;
    background-color: #fff;
    /*padding: 58px 51px 88px 51px; 58px 54px 0px 51px;*/
}

.footer__menu {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.footer__menu-list-items {
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-underline-offset: 4px;
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 48px;
}

.footer__social-list-items {
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    gap: 48px;
}
  
.footer__social-icon {
    width: 48px;
    height: 48px;
}